
*{
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: rgb(235, 232, 237);
    color: #223C5B;
}


.intro{
      text-align: left;
      line-height: 50px;
      padding-top: 50px;
      padding-left: 800px;
      padding-bottom: 500px;
      color:white;
      line-height: 55px;
      letter-spacing: 1px;
}

.background-image{
    background-image: url(images/app-banner-idea-1.jpg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.website{
    width: 100%;
    background-size: 100%;
}

.intro h1{
    font-size: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: 200;
}

h2{
   font-size: 30px;
   padding-right: 20px;
   letter-spacing: 1px;
}

.headline{
    font-size: 40px;
    padding-bottom: 20px;
}

.statement{
    padding: 60px;
}

.subtext{
    font-size: 20px;
}

.quotes{
    background-color: #7F6991;
    color: white;
    margin:0 auto;
    padding: 50px;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    line-height: 30px;
}

.quotes p{
    padding-bottom: 40px;

}
.project-intro{
    background-color: white;
    margin:0;
}


.button{
   padding: 15px 32px;
   text-align:center;
   display: inline-block;
   text-decoration: none;
   color:black;
   background-color:#D6CAC4 ;
   background-color: D6CAC4;
   letter-spacing: .5px;
}

.post{
    display: flex;
    padding: 3rem;

}

.post p{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    padding-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}


.sensability-website{
    font-size:20px;
    padding-left:50px;
    padding-bottom:50px;
    padding-top:50px;
    background-color:#223C5B;
    color: white;
    letter-spacing: 1px;

}

.final-thoughts p{
    line-height: 30px;
    letter-spacing: 1px;
}

.sensability-website p{
    padding-bottom: 20px;
}

img{
    max-width: 100%;
}

