body{
    background-color: rgb(235, 232, 237);
    color: #223C5B;
}

.intro{
      text-align: center;
      line-height: 30px;
}

h1{
    font-size: 50px;
}

h2{
   font-size: 30px;
   padding-left:20px;
   padding-right: 20px;
}

.headline{
    font-size: 40px;
}

.statement{
    padding: 60px;
}

.subtext{
    font-size: 20px;
}

.quotes{
    background-color: #7F6991;
    color: white;
    margin:0 auto;
    padding: 20px;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    line-height: 30px;
}

.project-intro{
    background-color: white;
    margin:0;
}


.button{
   padding: 15px 32px;
   text-align:center;
   display: inline-block;
   text-decoration: none;
   color:black;
   background-color:#D6CAC4 ;
   background-color: D6CAC4;
   letter-spacing: .5px;
}

.post{
    display: flex;
    padding: 3rem;

}

.post p{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    padding-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}


.sensability-website{
    font-size:20px;
    padding-left:50px;
    padding-bottom:50px;
    padding-top:50px;
    background-color:#365675;
    color: white;

}

img{
    max-width: 100%;
}

